[Unit]
Description=lotr
After=multi-user.target

[Service]
ExecStart=/usr/bin/node /root/lotr/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lotr
User=root
EnvironmentFile=/root/lotr/app.env

[Install]
WantedBy=multi-user.target
